.venv/
venv/
env/

__pycache__/
*.pyc
.ipynb_checkpoints/

.env
.streamlit/secrets.toml

*.pkl
*.joblib
*.h5
*.keras

*.log
*.tmp
.DS_Store
Thumbs.db

# Original Olist raw dataset
1 data/01_raw_data/

# Saved ML models
2 Notebook/saved_models/

# Temporary / checking notebook
2 Notebook/check.ipynb

# Unwanted processed customer dataset
1 data/02_processed data/customer_360_clean.csv