.venv/
venv/
env/

__pycache__/
*.pyc
.ipynb_checkpoints/

.env
.streamlit/secrets.toml

*.pkl
*.joblib
*.h5
*.keras

*.log
*.tmp
.DS_Store
Thumbs.db


# Saved ML models
2 Notebook/saved_models/

# Temporary / checking notebook
2 Notebook/check.ipynb


customer_360_supabase.sql